<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <a class="navbar-brand" href="#">hpy</a>
  <!--
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    -->
  <div
    class="collapse navbar-collapse d-flex flex-row-reverse"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="about">about</a>
      <a class="nav-item nav-link" href="https://docs.hpyproject.org/">docs</a>
      <a class="nav-item nav-link" href="articles">articles</a>
      <a class="nav-item nav-link" href="https://github.com/hpyproject/hpy">src</a>
    </div>
  </div>
</nav>
