{{ define "main" }}

<div class="jumbotron text-center hpy-jumbo-section">
  <p class="hpy-jumbo-title">A modern approach for extending Python in C</p>
  <p class="hpy-jumbo-subtitle">
    Developed by members of the Python Software Foundation.
  </p>
</div>

<div style="display: flex; justify-content: center">
  <div class="hpy-card text-center">
    <div class="hpy-card-title">Performance</div>
    <div class="hpy-card-content">
      Much faster on alternative implementations such as PyPy, GraalPy.
    </div>
  </div>
  <div class="hpy-card text-center">
    <div class="hpy-card-title">Universal Binaries</div>
    <div class="hpy-card-content">
      Extensions built for the HPy Universal ABI can be loaded unmodified on CPython, PyPy, GraalPython, etc.
    </div>
  </div>
  <div class="hpy-card text-center">
    <div class="hpy-card-title">Debug Mode</div>
    <div class="hpy-card-content">
      Easily identify common problems such as memory leaks, invalid lifetime of objects, invalid usage of APIs.
    </div>
  </div>
</div>

<div class="hpy-help-wanted">
  <p class="hpy-smalljumbo-title">Help Wanted!</p>
</div>

{{ end }}
